{% extends 'base.html.twig' %}

{% block body %}
    <h1>Collection creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary" type="submit"><i class="material-icons">save</i></button>
    {{ form_end(form) }}

    <ul>
        <li class="btn btn-default">
            <a href="{{ path('collection_index') }}"><i class="material-icons">chevron_left</i></a>
        </li>
    </ul>
{% endblock %}
