{% extends 'base.html.twig' %}

{% block body %}
    <h1>Collection creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-primary" type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li class="btn btn-default">
            <a href="{{ path('collection_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
